* {
  margin: 0px;
  box-sizing: border-box;
}

.front-page {
  background: url("https://images7.alphacoders.com/532/532650.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  background-color: #ed1d24;
  color: white;
  line-height: 51px;
  display: block;
  padding: 0px;
  margin: 0px;
}

.logo {
  display: inline-block;
  position: absolute;
  width: 10%;
}

.navbar {
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav {
  padding: 16px 30px;
  text-decoration: none;
  color: white;
}

.searchButtons {
  margin-top: 125px;
  display: flex;
  justify-content: center;
}

.button {
  width: 250px;
  height: 250px;
  margin: 0 10px;
  border-radius: 8px;
  font-size: 24px;
  background-color: rgb(192, 192, 192);
}

.button:hover {
  cursor: pointer;
}

footer {
  display: block;
  height: 51px;
  background-color: #ed1d24;
  margin-top: 125px;
  margin-bottom: 0px;
}






.search {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.loading-icon {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.pics {
  padding: 0px;
}

.content-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto auto;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.name-body {
  display: flex;
  width: 100%;
  justify-content: left;
  margin-left: 15%;
}

.name-body-wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
}

.character-link {
  text-decoration: none;
  color: black;
}

.character-name {
  font-size: 22px;
}

.page-nav {
  display: flex;
  flex-direction: row;
}

.page-item {
  padding: 5px;
}

.page-item:hover {
  cursor: pointer;
}